*,
:before,
:after {
  box-sizing: border-box;
  margin: 5;
  padding: 5;
}

h1 {
  font-family: 'Lobster', cursive;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
}

.kontejner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fotka {
  width: 725px;
  height: 445;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.odstavec {
  width: 725px;
  height: 585;
  background-color: #283e50;
  color: white;
}

.pravidla {
  background-color: #1fcca4;
  width: 725px;
  height: 105px;
  color: white;
  text-align: center;
}

.zacithrat {
  background-color: #0197f6;
  width: 725px;
  height: 105px;
  color: white;
  text-align: center;
}
